@charset "UTF-8";


.body {
	display: flex;
	justify-content: center;
/* 	background-image: url('../img/Vector.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-size: 600px 450px; */
/* 	background-attachment: fixed; */
/* 	background-position:center; */

}

.signup {
	width: 500px;
	margin-top: 10px;
}

.form {
	margin-top: 10%;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 250px 250px 100px;
	grid-template-areas: "name name ." "id id id_c " "pwd pwd . " "pwd_c pwd_c ."
		"class verify certi_fom" "sub sub .";
		row-gap : 10px;
}

.form_2 {
	margin-top: 25%;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "id  id" "pwd pwd" "sub sub";
	row-gap : 5px;
}

.form_3 {
	margin-top: 15%;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"name_t name name" 
	"id_t  id id" 
	"pwd_t pwd pwd"
	"class_t class class"
	"draw . edit";
	row-gap : 10px;
}
.form_3 > h3{
	align-item : center;
}

input {
	margin: 10px;
	height: 50px;
	outline: none;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
}

select {
	margin: 10px;
	height: 57px;
	outline: none;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
}

input::focus {
	outline: none;
}

.name {
	grid-area: name;
}
.name_t{
	grid-area : name_t;
}

.id {
	grid-area: id;
}
.id_t{
	grid-area : id_t;
}
#id_check{
	grid-area: id_c;
	background-color: #558BCF;
	color: white;
}

.pwd {
	grid-area: pwd;
}

.pwd_t{
	grid-area : pwd_t;
}

.pwd_check {
	grid-area: pwd_c;
}

.class {
	grid-area: class;
}
.class_t {
	grid-area: class_t;
}

.verify {
	grid-area: verify;
}

#certi_check{
	grid-area: certi_fom;
	background-color: #558BCF;
	color: white;
}


.submit {
	grid-area: sub;
	background-color: #558BCF;
	color: white;
}

.withdraw{
	grid-area: draw;
	background-color: #558BCF;
	color: white;
	margin-left : 0;
	margin-right  :20px;
}
.edit{
	grid-area: edit;
	background-color: #558BCF;
	color: white;
}