@charset "UTF-8";

/* index*/
.main_script{
	display: flex;
	width : 80%;
	margin: 0 auto;
}

.script{
	display: inline;
	width : 30%;
	float : left;
}

.greeting_img{
	width : 70%;
	float : right;
}

/* mainì˜ */
.main_page{
	display: flex;
	width : 80%;
	margin: 0 auto;
}

.main_board_left{
	width: 70%;
	float : left;
}
.left{
	width : 50%;
	float : left;
}
.right{
	width : 50%;
	float : right;
}
.board_title > li{
	margin: 10px;
}
ul.board_title{
	padding: 0 0 0 20px;
}
.board_list{
	padding: 3px;
	margin: 4px;
}
.board_list > legend{
text-align : center;
}

.btn{
	float : right;
}

.btn > button{
	background-color: skyblue;
	padding: 10px;
	margin : 15px;
}

.hot_board{
	width : 100%;
	float : left;
}

.main_board_right{
	width: 30%;
	float: right;
}

.git{
	margin-top: 12px;
	border: 2px solid gray;
	width: 100%;
	height : 40%;
	margin-bottom: 10px;
}
.calendar{
	border: 2px solid gray;
	width: 100%;
	height: 60%;
	margin-top: 30px;
}