@charset "UTF-8";

/* index*/
body {
	font-family: 'Noto Sans KR', sans-serif;
}

.body {
	display: flex;
	justify-content: center;
}

.main_script {
	display: grid;
	width: 80%;
	overflow: visible;
	margin-top: 3%;
	grid-template-rows: repeat(5, 3fr);
	grid-template-columns: 50px 2fr 0.8fr 5fr 50px;
	grid-template-areas: ". script1 . greet greet"
		". script2 btn_index greet greet" ". . . greet greet" ". . . greet greet"
		". . . greet greet";
}

.script_1 {
	grid-area: script1;
	display: flex;
}

.script_2 {
	grid-area: script2;
	display: flex;
}

.greeting_img {
	grid-area: greet;
	background-image: url('img/greetingImg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.btn_index {
	grid-area: btn_index;
	display: grid;
	align-items: start;
}
.btn_in{
	
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 10px;
	background-color: #558BCF;
	padding : 10% 10%;
	font-size : 15px;
	color : white;
}


/* main index */
.main_page {
	display: grid;
	grid-template-rows: 200px 1fr 0.3fr 1.8fr;
	grid-template-columns: 0.3fr 2.5fr 1.5fr 0.3fr;
	margin-top : 3%;
	grid-template-areas:
	 ". main_board git . " 
	 ". main_board calendar . "
	". more calendar ." 
	". hot_board calendar .";
	gap: 2%;
}

.board_title {
	list-style: none;
	width: 350px;
	padding-left: 15px;
}

.board_title>li {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.more_btn {
	grid-area: more;
	justify-self: end;
}

.more_btn>button {
	width: 70px;
	height: 30px;
	background-color: #558BCF;
	color: white;
	border: none;
	border-radius: 20px;
}

.git {
	grid-area: git;
	margin-top: -60px;
	
	display : grid;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	grid-template-areas: 
	"git_title git_edit"
	"git_body git_body"
	". tabkey";
}
.git_title{
	grid-area : git_title;
	display : flex;
	align-items: center;
}
.list{
	display : flex;
	justify-content: space-between;
	margin-right : 200px;
	margin-left : 3px;
}
.git_edit{
	grid-area: git_edit;
	display : flex;
	justify-content: flex-end;
	align-items: center;
}
li .repo{
	list-style : none;
}
.git_list{
	display : none;
	min-width: 490px;
	height : 100%;
	margin-top : 0;
}
.right {
	display : flex;
}
.repo_title{
	display : inline-block;
}
.tab{
	white-space: pre;
}
.tabkey { 
	grid-area : tabkey;
	display: flex;
    align-items: center;
    justify-content: flex-end; 
}
#grass{
	display: none;
	width : 100%;
	height : 100%;
}
#modal_repo{
	margin-left : 10px;
}
.commit{
	margin-top: 10px;
}
.git_body{
	grid-area : git_body;
	width : 100%;
	height : 100%;
}
#git_register{
	display : block;
}

.calendar {
	grid-area: calendar;
}

.main_board {
	grid-area: main_board;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "board_1 board_2" "board_3 board_4";
	gap: 2%;
}

.board_list_1 {
	grid-area: board_1;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
}

.board_list_2 {
	grid-area: board_2;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
}

.board_list_3 {
	grid-area: board_3;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
}

.board_list_4 {
	grid-area: board_4;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
}

.hot_board {
	grid-area: hot_board;
	display: flex;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
	height : fit-content;
}

.board_list_5 {
	display: grid;
	border: none;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "board_5_1 board_5_2";
}

.left {
	grid-area: board_5_1;
}

.right {
	grid-area: board_5_2;
}

button {
	cursor: pointer;
}

/*modal*/
.modal{
	display :none;
	position: relative;
	width : 100%;
	height : 100%;
	top: -20%;
	z-index : 1; 
}

#modal button {
	display: inline-block;
	width : 100px; 
}
#modal .modalcontent{
	width : 400px;
	margin : -450px;
	padding : 20px 10px;
	background: #fff;
	border: 2px solid #666;
	height : fit-content;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}

.modal_body{
	grid-area: modal_body;
	display : grid;
	
	grid-template-rows : repeat(5, 1fr);
	grid-template-columns : 1fr 4fr;
	
	grid-template-areas: 
	"title  calendar_title "
	"content calendar_content "
	"start_date calendar_start_date "
	"end_date calendar_end_date"
	"c_choice color_choice";
	
	align-items : center;
	justify-items: center;
}




.modal2{
	display :none;
	position: absolute;
	top : 25%;
	left: -5%;
	width : 100%;
	height : 100%;
	z-index : 1; 
}

#modal2 button {
	display: inline-block;
	width : 80px; 
	height: 45px;
	margin-right : 10px;
}
#modal2 .modalcontent2{
	width : 400px;
	margin :auto;
	padding : 20px 10px;
	background: #fff;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
	height: 300px;
	overflow: scroll;
    overflow-x: hidden;
}

.modalcontent2::-webkit-scrollbar {
    width: 8px; 
}

.modalcontent2::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #217af4; 
    
    border-radius: 10px;
}

.modalcontent2::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  
}

#modal2 .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}

.modal_body2{
	grid-area: modal_body2;
	align-items : center;
	justify-items: center;
}
.modal_header2{
	display: flex;
	justify-content: space-between;
}

.submit{
	cursor: pointer;
	width: 70px;
    height: 30px;
    background-color: #558BCF;
    color: white;
    border: none;
    border-radius: 20px;
}
.repo_check{
	
	cursor: pointer;
	width: auto;
    height: 30px;
    background-color: #558BCF;
    color: white;
    border: none;
    border-radius: 20px;
}

#git_id{
	border-color: #558BCF;
    border-radius: 20px;
    outline: none;
}

#git_id:focus{
	box-shadow: 0 0 4px #558BCF;
    outline: none;
}
#git_id:active{
	outline: none;
}

.modalcontent{
	display : grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas: 
	" modal_header"
	" modal_body"
	" modal_footer";
	
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
	
	gap: 2%;
	
}
 
.modal_header{
	grid-area: modal_header;
	
	display : grid;
	grid-template-columns : 1fr 1fr;
	grid-template-areas: 
	" modal_title  closeCalendar";
	
	align-items : center;
	justify-items: end;
}
.calendar{
	grid-area : calendar;
	height : 480px;
}
#closeCalendar{
	grid-area: closeCalendar;
	height : fit-content;
	background-color: #558BCF;
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 10px;
	color : white;
	margin-right : 10px;
	
}
#modal_title{
	grid-area: modal_title;
	font-size : 20px;
}

.form-control{
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 10px;
	margin-bottom : 2px;
	
	height : 30px;
	width : 300px;
}
.modal_footer{
	grid-area: modal_footer;
	display : grid;
	grid-template-columns :  1fr 1fr 1fr;
	grid-template-areas: 
	" . deleteCalendar updateCalendar";
	height : fit-content;
}
.btn{
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 10px;
	background-color: #558BCF;
	color : white;
}

.title{
	grid-area: title;
}
.content{
	grid-area: content;
}
.start_date{
	grid-area: start_date;
}
.end_date{
	grid-area: end_date;
}
#color_choice{
	grid-area: c_choice;
}
#plan_title{
	grid-area: calendar_title;
}
#plan_content{
	grid-area: calendar_content;
}

#start_date{
	grid-area: calendar_start_date;
}

#end_date{
	grid-area: calendar_end_date;
}
.color_choice{
	grid-area: color_choice;
}
.color {
	width : 30px;
	height : 30px;
	border : none;
	border-radius : 30px;
	margin-right : 10px;
	margin-left : 10px;
	cursor : pointer;
	color : transparent;
}


#blue{
	background-color : #BFC8D7;
	color : transparent;
}

#pink{
	background-color : #F8DAE2;
}
#orange{
	background-color : #F6B99D;
}

#yellow{
	background-color : #EADB80;
}

#green{
	background-color : #A2B59F;
}

.add{
	grid-area:add;
}
#addCalendar{
	grid-area: addCalendar;
	margin-left : 3px;
	margin-right: 10px;
	
}
#updateCalendar{
	grid-area: updateCalendar;
	margin-left : 3px;
	margin-right: 3px;
}
#deleteCalendar{
	grid-area: deleteCalendar;
	margin-left : 3px;
	margin-right: 3px;
}
