@charset "UTF-8";


.body {
	display: flex;
	justify-content: center;
}

.board_page{
	display : grid;
	width : 80%;
	margin-top : 3%;
	grid-template-rows: 1fr;
	grid-template-columns: 50px 3fr 1fr 50px;
	grid-template-areas: 
	". boards find . ";
	gap: 2%;
}
.b_line{
	width: 95%;
}
.post_title{
	margin-left : 15px;
	height : 50%;
}

.boards {
	grid-area : boards;
	display : grid;
	height : 680px;
	grid-template-columns: repeat(2, 1fr);
	gap: 2%;
	overflow: auto;
	overflow-x: hidden;
}

.boards::-webkit-scrollbar {
    width: 8px; 
}

.boards::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #217af4; 
    
    border-radius: 10px;
}

.boards::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  
}
ul
.post_line{
	width : 80%;
}

.board_title > li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.1em;
}
#title_line{
	margin-top : 1px;
	width : 350px;
}
.find{
	grid-area: find;
	display : grid;
	grid-template-rows: 0.1fr 1fr;
	grid-template-columns: 1fr ;
	grid-template-areas: 
	"search"
	"list";
	gap: 2%;
}
legend{
	font-size : 1.5em;
	text-align: center;
}
fieldset{
	display : grid;
	border-color: #558BCF;
	box-shadow: 0 0 2px #558BCF;
	border-radius: 20px;
	margin-right: 5px;
}
.board_title {
	padding-left : 10px;
	cursor : pointer;
	margin-bottom : 7px;
}
.search_form{
	display : flex;
}
.search{
	grid-area :search;
	margin-top : 10px;
}
.search_title{
	outline: none;
	height : 30px;
	width : 70%;
	margin-right : 0;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
}
.search_btn{
	width : 20%;
	height : 30px;
	margin-left : 5px;
	background-color: #558BCF;
	color: white;
	border : none;
	border-radius : 20px;
}
.list{
	grid-area: list;
	border: 2px solid  #558BCF;
	border-radius : 20px;
	overflow: auto;
	overflow-x: none;
	display : grid;
	grid-template-rows: 100px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"lists";
}

.list::-webkit-scrollbar {
    width: 8px; 
}

.list::-webkit-scrollbar-thumb {
    height: 20%; 
    background: #217af4; 
    
    border-radius: 10px;
}

.list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  
}

.lists{
	grid-area: lists;
}
ul.lists{
	padding-left : 15px;
	padding-right : 15px;
	text-align: center;
}
.lists > li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom : 15px;
	margin-top: 0;
	}
	
.line{
	margin-bottom : 10px;
}

.board_page_2{
	display : grid;
	width : 80%;
	margin-top : 10%;
	grid-template-rows: 3fr;
	grid-template-columns: 0.3fr 1fr 1fr 0.5fr 0.3fr;
	grid-template-areas:
	". posting_form posting_form posting_form. "
	". posting_form posting_form posting_form . "
	". posting_form posting_form  posting_form . ";
	gap: 2%;
	justify-items: center;
}
.posting_form{
	grid-area: posting_form;
	display : grid;
	width : 80%;
	grid-template-rows:  1fr 1fr 1fr;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-areas: 
	"new_title new_title new_title"
	"new_pre new_pre new_pre"
	". . board_btn";
	gap: 2%;
}

.new_title{
	grid-area: new_title;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 110px 2fr 0.5fr;
	grid-template-areas: 
	"label_1 title dup_check";
	align-items: center;
}
.new_pre{
	grid-area: new_pre;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 110px 2fr 0.5fr;
	grid-template-areas: 
	"label_2 content dup_check";
	align-items: center;
}
.boardbtn{
	background-color: #558BCF;
	color: white;
	width : 125px;
}
.board_btn{
	grid-area: board_btn;
	display: flex;
}

.label_1{
	grid-area: label_1;
}
.label_2{
	grid-area: label_2;
}
.title{
	grid-area: title;
}
.dup_check{
	grid-area: dup_check;
	margin: 10px;
	height: 50px;
	width : 80px;
	outline: none;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	background-color: #558BCF;
	color: white;
	font-size: 15px;
}
.content{
	grid-area: content;
	
}

input {
	margin: 10px;
	height: 50px;
	outline: none;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
}
.new_board{
	grid-area: dup_check;
	margin: 5px;
	height: 50px;
	outline: none;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	background-color: #558BCF;
	font-size: 15px;
	color: white;
}