@charset "UTF-8";


.body {
	display: flex;
	justify-content: center;
}

.board_page{
	display : grid;
	width : 80%;
	grid-template-rows: 1fr;
	grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
	grid-template-areas: 
	". boards find . ";
	gap: 2%;
}

.boards {
	grid-area : boards;
	display : grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2%;
}

.board_title > li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.find{
	grid-area: find;
	display : grid;
	grid-template-rows: 0.1fr 1fr;
	grid-template-columns: 1fr ;
	grid-template-areas: 
	"search"
	"list";
	gap: 2%;
}
fieldset{
	border: 3px solid;
	border-color: #558BCF;
	border-radius: 20px;
}
.board_title {
	list-style: none;
	width : 350px;
	padding-left : 15px;
	cursor : pointer;
}
.search{
	grid-area :search;
	margin-top : 10px;
}
.search_title{
	outline: none;
	height : 30px;
	width : 70%;
	margin-left : 0;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
}
.search_btn{
	width : 20%;
	height : 30px;
	background-color: #558BCF;
	color: white;
	border : none;
	border-radius : 20px;
}
.list{
	grid-area: list;
	border: 2px solid  #558BCF;
	border-radius : 20px;
	display : grid;
	
	
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 1fr;
	grid-template-areas: 
	"lists"
	"lists"
	"lists"
	"lists"
	"lists";
/* 	여기 이상  */
}
.lists{
	grid-area: lists;

}
.lists > li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom : 10px;
	margin-top: 0;
}

.line{
	width : 80%;
	margin-bottom : 10px;
}

.post{
	display: grid;
	
	grid-template-rows: 0.5fr 5fr;
	grid-template-columns: 1fr 5fr 0.5fr;
	grid-template-areas: 
	"post_selector . ."
	". posting ."
}

.post_selector{
	grid-area: post_selector;
	display : inline;
}

.posting{
	grid-area : posting;
	display: grid;
	border: 2px solid  #558BCF;
	border-radius : 20px;
	padding: 10px 10px;
	grid-template-rows: 1fr 4fr 50px 4fr 30px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"title"
	"content"
	"photo"
	"code"
	"postbtn";
}

#form_code{
	height: 100%;
}
.title{
	grid-area: title;
	width : 80%;
	height : 40px;
}

#form_photo{
	margin-top:10px;
}
.content{
	grid-area: content;
	width : 80%;
	height : 300px;
}
.photo{
	grid-area: photo;
}
.code{
	display: none;
	grid-area: code;
	width : 80%;
	padding : 10px;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size : 1.2em;
	font-weight: bold;
}
.code:focus{
	outline: none;
}
.postbtn{
	grid-area: postbtn;
	width : 80px;
	background-color : #5588CF;
	color : white;
}

.post_form{
	display : flex;
}
label{
	margin-right: 7px;
	margin-top : 3px;
}

.post_form.btn{
	display : flex;
	justify-content: flex-end;
    align-items: flex-start;
	
}
.post_form > input{
	outline: none;
	margin-left : 0;
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	font-size: 15px;
	padding-left : 5px;
}


input[type="file"]::file-selector-button{
	border-radius: 20px;
	border: 3px solid;
	border-color: #558BCF;
	background-color : #5588CF;
	color : white;
}
